@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/elements/icon";
@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/components/dropdown";

.todo-list {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d9d9d9;

    li {
        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #e7eaef;
        }

        &[draggable="true"] {
            cursor: move;

            &.over {
                box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
            }
        }
    }
}

.todo-list-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;

    &.is-done {
        .item-text {
            .task-name {
                text-decoration: line-through;
            }
        }
    }

    .item-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
        margin-right: 15px;
    }

    .item-text {
        flex-grow: 1;
        margin-right: 20px;

        &:not(.is-editing) {
            overflow: hidden;
        }

        .task-name {
            min-height: 2.5em;
            padding-top: calc(0.5em - 1px);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .search-term {
            font-weight: 500;
        }
    }

    .dropdown {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    .item-form {
        width: 100%;
    }
}

.todo-list-item-details {
    display: none;
    padding: 10px 15px;
    background-color: #eeeef4;

    &.is-active {
        display: block;
    }
}
